/*.qcow2
/engine/w7b64/build
/engine/w7b64/data/desktop/*.zip
/engine/w7b64/data/w7b64*
/engine/w7b64/iso/*.iso

/engine/gateway/build
/engine/gateway/data/gateway-tools/*
!/engine/gateway/data/gateway-tools/vm-*
/engine/gateway/data/gateway-tools/configurations/tools
/engine/gateway/iso/*.iso