/build/*

/disks/*

/images/*
!/images/os_iso_here.txt

/data/w7b64/addons/*
!/data/w7b64/addons/addons_here.txt

!/data/w7b64/addons/desktop/
/data/w7b64/addons/desktop/set-ip.bat
/data/w7b64/addons/desktop/services-off.ps1

/data/gateway/addons/*
!/data/gateway/addons/addons_here.txt
!/data/gateway/addons/vm-setup.sh